<ng-container *ngIf="!!user">
  <div class="container px-4 py-2 profile-bg">
    <div class="cover-block">
      <img class="cover-image"
           src="https://timelinecovers.pro/facebook-cover/download/religious-christian-believe-facebook-cover.jpg"
           alt="cover"/>
    </div>
    <div class="avatar-block">
      <img src="{{user.avatar}}" class="avatar" alt="avatar"/>
      <p class="name">{{user.name0}}</p>
    </div>
    <div class="row my-2 justify-content-between">
      <div class="col-lg-4 p-2 col-sm-12 border rounded">
        <div class="d-flex justify-content-between pb-2">
          <h2 style="margin-top: 8px;">Giới thiệu</h2>
          <div>
            <button mat-icon-button *ngIf="isEdit" (click)="onSaveProfile()">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button (click)="onEditProfile()">
              <mat-icon *ngIf="!isEdit">edit</mat-icon>
              <mat-icon *ngIf="isEdit">close</mat-icon>
            </button>
          </div>
        </div>
        <div *ngIf="!isEdit">
          <div class="d-flex pb-2" *ngIf="user.location">
            <mat-icon> location_on</mat-icon>
            <p class="user-detail">Giáo xứ: {{user.location}}</p>
          </div>
          <div class="d-flex pb-2" *ngIf="user.email">
            <mat-icon> email</mat-icon>
            <p class="user-detail">Email: {{user.email}}</p>
          </div>
          <div class="d-flex pb-2" *ngIf="user.name3">
            <mat-icon> perm_contact_calendar</mat-icon>
            <p class="user-detail">Vai trò: {{user.name3}}</p>
          </div>
        </div>
        <div *ngIf="isEdit">
          <mat-form-field class="col-6 w-100" appearance="outline">
            <mat-label>Giáo xứ</mat-label>
            <input matInput type="text" [(ngModel)]="user.location"/>
          </mat-form-field>
          <mat-form-field class="col-6 w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="user.email"/>
          </mat-form-field>
          <mat-form-field class="col-6 w-100" appearance="outline">
            <mat-label>Vai trò</mat-label>
            <input matInput type="text" [(ngModel)]="user.name3"/>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-8 p-2 col-sm-12 rounded">
        <div class="d-flex justify-content-between pb-2">
          <h2 class="">Câu hỏi đã đóng góp</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Tìm kiếm</mat-label>
              <input matInput type="text"/>
            </mat-form-field>
          </div>
          <div class="col-6">
            <topic-select #topicSelectComponent></topic-select>
          </div>
        </div>
        <div class="rounded border shadow">
          <table mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> STT</th>
              <td mat-cell *matCellDef="let element;let i = index;" style="width: 10%"> {{i + 1}} </td>
            </ng-container>

            <!-- Question Column -->
            <ng-container matColumnDef="content">
              <th mat-header-cell *matHeaderCellDef> Câu hỏi</th>
              <td mat-cell *matCellDef="let element" class="truncate" style="width: 30%"> {{element.content}} </td>
            </ng-container>
            <ng-container matColumnDef="topics">
              <th mat-header-cell *matHeaderCellDef> Chủ đề</th>
              <td mat-cell *matCellDef="let element" class="truncate" style="width: 30%"><span
                *ngFor="let topic of element.topics;let j =index">{{topic.name}} <span
                *ngIf="j!==element.topics.length-1">| </span></span></td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" style="width: 10%">
                <button mat-button color="primary" routerLink="/question/{{element.id}}">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
              <td mat-cell *matCellDef="let element" style="width: 10%">
                <span>{{status[element.status].name}}</span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- <tr mat-row (click)="" *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons>
          </mat-paginator>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</ng-container>


