<div class="px-4 py-2 my-2 text-center">
  <h1 class="display-5 fw-bold">ĐỐ VUI CÔNG GIÁO</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Tại đây bạn có thể thử sức với những câu hỏi, đố vui về Kinh Thánh, Giáo Lý, ... Và cũng có thể
      đóng góp để giúp hệ thống câu hỏi của chúng mình trở nên đa dạng hơn</p>
    <button mat-raised-button color="primary" style="width: 200px" routerLink="play">THỬ SỨC!</button>
    <button mat-raised-button color="accent" style="width: 200px" routerLink="question">Đóng góp câu hỏi</button>
  </div>
</div>
<app-authentication></app-authentication>
<app-rank></app-rank>

