<table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> STT</th>
      <td mat-cell *matCellDef="let element;let i = index;" style="width: 10%"> {{i + 1}} </td>
    </ng-container>

    <!-- Question Column -->
    <ng-container matColumnDef="name0">
      <th mat-header-cell *matHeaderCellDef> Tên</th>
      <td mat-cell *matCellDef="let element" class="truncate" style="width: 30%"> {{element.name0}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email</th>
      <td mat-cell *matCellDef="let element" class="truncate" style="width: 30%"> {{element.email}} </td>
    </ng-container>
    <!-- Author Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Giáo xứ</th>
      <td mat-cell *matCellDef="let element" class="truncate" style="width: 10%"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="name3">
        <th mat-header-cell *matHeaderCellDef> Chức vụ</th>
        <td mat-cell *matCellDef="let element" class="truncate" style="width: 10%"> {{element.name3}} </td>
      </ng-container>    

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="width: 10%">
        <button mat-button color="primary" routerLink="/question/{{element.id}}">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- <tr mat-row (click)="" *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>