
/* Question Table */
table {
    width: 100%;
}
.mat-column-select {
    overflow: initial;
}

.truncate {
    /*width: 200px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
}
mat-form-field{
  margin-top: 10px !important;
  margin-bottom: -8px !important;
}

