<div class="container px-lg-5 px-sm-0" style="background-color: white">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="logo" src="favicon.ico" alt="logo"/> <span class="fs-4 fw-bold" style="font-family: Serif,serif">ĐỐ VUI CÔNG GIÁO</span>
    </a>

    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item mx-1 responsive-desktop"><a routerLink="/" class="nav-link active" page="landing"
                                                      mat-raised-button>Home</a>
      </li>
      <li class="nav-item mx-1 responsive-mobile"><a routerLink="/" class="nav-link active" page="landing"
                                                     mat-mini-fab>
        <mat-icon>home</mat-icon>
      </a></li>

      <li class="nav-item mx-1 responsive-desktop"><a routerLink="question" class="nav-link" page="question"
                                                      mat-raised-button>Question</a>
      </li>
      <li class="nav-item mx-1 responsive-mobile"><a routerLink="question" class="nav-link" page="question"
                                                     mat-mini-fab>
        <mat-icon>collections_bookmark</mat-icon>
      </a>
      </li>
      <ng-container *ngIf="!!user">
        <li class="nav-item mx-1 responsive-desktop" *ngIf="user!.roles!.includes(roles.ADMIN)"><a class="nav-link"
                                                                                                   routerLink="admin"
                                                                                                   page="admin"
                                                                                                   mat-raised-button>Admin</a>
        <li class="nav-item mx-1 responsive-mobile" *ngIf="user!.roles!.includes(roles.ADMIN)"><a class="nav-link"
                                                                                                  routerLink="admin"
                                                                                                  page="admin"
                                                                                                  mat-mini-fab>
          <mat-icon>verified_user</mat-icon>
        </a>
        <li class="nav-item mx-1">
          <a class="nav-link responsive-desktop" mat-raised-button page="profile" [matMenuTriggerFor]="menu">Xin chào <b
            class="text-danger">{{user.name0}}</b> nha</a>
          <a class="nav-link responsive-mobile px-2" style="width: max-content" mat-mini-fab page="profile"
             [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
            <b class="text-danger">{{user.name0}}</b></a>
          <mat-menu #menu="matMenu" class="layout-menu">
            <button mat-menu-item routerLink="profile">
              <mat-icon>person</mat-icon>
              <span>Trang cá nhân</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Đăng xuất</span>
            </button>
          </mat-menu>
        </li>
      </ng-container>
    </ul>
  </header>

  <main style="min-height: 80vh">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="py-5 bg-dark text-light">
  <p class="text-center fw-bold">2021 - Dev by GXDA</p>
</footer>

