<div class="container px-5" style="background-color: white">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4 fw-bold">ĐỐ VUI CÔNG GIÁO</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item mx-1"><a routerLink="/" class="nav-link active" page="landing" mat-raised-button>Home</a></li>
      <li class="nav-item mx-1"><a routerLink="question" class="nav-link" page="question" mat-raised-button>Question</a>
      <li class="nav-item mx-1"><a routerLink="profile" class="nav-link" page="profile" mat-raised-button>Profile</a>
      </li>
      <li class="nav-item mx-1"><a routerLink="admin" class="nav-link"
                                   page="admin" mat-raised-button>List</a>
      </li>
      <ng-container *ngIf="!!user">
        <li class="nav-item mx-1" *ngIf="user!.roles!.includes(roles.ADMIN)"><a class="nav-link"
                                                                                page="admin" mat-raised-button>Admin</a>
      </ng-container>
      <li *ngIf="!!user" class="nav-item mx-1">
        <a class="nav-link" mat-raised-button [matMenuTriggerFor]="menu">Xin chào <b>{{user.name0}}</b></a>
        <mat-menu #menu="matMenu" class="layout-menu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Trang cá nhân</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Đăng xuất</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </header>

  <main style="min-height: 80vh">
    <router-outlet></router-outlet>
  </main>
</div>
<footer class="py-5 bg-dark text-light">
  <p class="text-center fw-bold">2021 - Dev by GXDA</p>
</footer>

