* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

.question-bg {
  background-color: rgb(245, 245, 245);
  border-radius: 6px;
  box-shadow: 0 0 0 3px rgba(75, 75, 75, 0.12);
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}


.styled-checkbox:hover + label:before {
  background: #1ef328;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #1ef328;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white,
  4px 0 0 white,
  4px -2px 0 white,
  4px -4px 0 white,
  4px -6px 0 white,
  4px -8px 0 white;
  transform: rotate(45deg);
}

.send-question {
  text-align: center;
  align-items: flex-end;
  margin-top: 10px;
}

.information {
  width: 100%;
}

.remove-option-button {
  position: relative;
  top: -5px;
  left: 10px;
}

.status-blog {
 margin-left: 30px;
 margin-top: 15px;
}
.status-blog h3 span {
  margin-top: 13px;
}
.label {
  color: white;
  padding: 8px;
  font-family: Arial;
  border-radius: 50%;
}
.success {background-color: #04AA6D;}
.info {background-color: #2196F3;}
.danger {background-color: #f44336;}

.file-upload {
	margin: 5px 5px 25px;
}
.file-upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
  z-index: 10;
	font-size: 20px;
	cursor: pointer;
	height: 36px;
	opacity: 0;
	filter: alpha(opacity=0); }

