<div class="container px-4 py-5 question-bg" id="featured-3">
  <h2 class="pb-2 border-bottom">Câu hỏi</h2>
  <ckeditor ></ckeditor>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
    <div class="feature col">
      <!-- <div class="feature-icon bg-primary bg-success">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
      </div> -->
      <div>
        <input class="styled-checkbox" id="checkbox-1" type="checkbox" value="" checked>
        <label for="checkbox-1">Đúng</label>
      </div>
      <h2>Đáp án A</h2>
      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <i class="fas fa-angle-double-right prefix"></i>
        <textarea id="form23" class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="feature col">
      <div>
        <input class="styled-checkbox" id="checkbox-2" type="checkbox" value="" checked>
        <label for="checkbox-2">Đúng</label>
      </div>
      <h2>Đáp án B</h2>
      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <i class="fas fa-angle-double-right prefix"></i>
        <textarea id="form23" class="form-control" rows="3"></textarea>
        <!-- <label for="form23">Material textarea with an always colorful prefix</label> -->
      </div>
    </div>
    <div class="feature col">
      <div>
        <input class="styled-checkbox" id="checkbox-3" type="checkbox" value="" checked>
        <label for="checkbox-3">Đúng</label>
      </div>
      <h2>Đáp án C</h2>
      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <i class="fas fa-angle-double-right prefix"></i>
        <textarea id="form23" class="form-control" rows="3"></textarea>
      </div>
    </div>
    <div class="feature col">
      <div>
        <input class="styled-checkbox" id="checkbox-3" type="checkbox" value="" checked>
        <label for="checkbox-3">Đúng</label>
      </div>
      <h2>Đáp án C</h2>
      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <i class="fas fa-angle-double-right prefix"></i>
        <textarea id="form23" class="form-control" rows="3"></textarea>
      </div>
    </div>
  </div>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nhập thông tin người đóng góp
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field class="information" appearance="fill">
      <mat-label>Tên thánh và họ tên</mat-label>
      <input matInput placeholder="Ex. Giuse Nguyễn Văn A" value="">
    </mat-form-field>
    <p></p>
    <mat-form-field class="information" appearance="fill">
      <mat-label>Giáo xứ</mat-label>
      <input matInput placeholder="Ex. Dĩ An" value="">
    </mat-form-field>
  </mat-expansion-panel>
  <button mat-raised-button color="primary">Gửi</button>
</div>
