<div class="container px-4 py-2">
  <h2 class="pb-2 border-bottom">Câu hỏi</h2>
  <ckeditor></ckeditor>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
    <div class="col">
      <!-- <div class="feature-icon bg-primary bg-success">
        <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
      </div> -->
      <div>
        <mat-slide-toggle  color="primary">
          Đáp án đúng
        </mat-slide-toggle>
      </div>
      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <mat-form-field class="information col-6" appearance="outline">
          <i class="fas fa-angle-double-right prefix"></i>
          <mat-label>Đáp án A</mat-label>
          <input matInput type="text"/>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div>
        <mat-slide-toggle  color="primary">
          Đáp án đúng
        </mat-slide-toggle>
      </div>

      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <mat-form-field class="information col-6" appearance="outline">
          <i class="fas fa-angle-double-right prefix"></i>
          <mat-label>Đáp án B</mat-label>
          <input matInput type="text"/>
          <!-- <label for="form23">Material textarea with an always colorful prefix</label> -->
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div>
        <mat-slide-toggle checked="true" color="primary">
          Đáp án đúng
        </mat-slide-toggle>
      </div>
      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <mat-form-field class="information col-6" appearance="outline">
          <i class="fas fa-angle-double-right prefix"></i>
          <mat-label>Đáp án C</mat-label>
          <input matInput type="text"/>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div>
        <mat-slide-toggle  color="primary">
          Đáp án đúng
        </mat-slide-toggle>
      </div>
      <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
        <mat-form-field class="information col-6" appearance="outline">
          <i class="fas fa-angle-double-right prefix"></i>
          <mat-label>Đáp án D</mat-label>
          <input matInput type="text"/>
        </mat-form-field>
      </div>
    </div>
  </div>
  <h2 class="pb-2 border-bottom">Bạn có muốn lưu lại thông tin của mình trên câu hỏi này?</h2>
  <div class="row">
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Tên Thánh, họ và tên</mat-label>
      <input matInput placeholder="Ex. Giuse Nguyễn Văn A" value="">
    </mat-form-field>
    <mat-form-field class="col-6" appearance="outline">
      <mat-label>Giáo xứ</mat-label>
      <input matInput placeholder="Ex. Dĩ An" value="">
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-raised-button color="warn" style="width: 200px">Hủy</button>
    <button mat-raised-button color="primary" style="width: 200px">Gửi</button>
  </div>
</div>
