/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';
html, body {
  height: 100%;
}

body {
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

button {
  margin: 5px !important;
}
