/* You can add global styles to this file, and also import other style files */
@import '~firebaseui/dist/firebaseui.css';

html, body {
  height: 100%;
}

.unselectable {
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

button {
  margin: 5px !important;
}

.layout-menu {
  overflow: hidden !important;
  margin-top: 0.5em;
}

.layout-menu span {
  top: 2px;
  position: relative;
}

img.logo {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

@media (max-width: 1080px) {
  .responsive-desktop {
    display: none !important;
  }

  .responsive-mobile {
    display: block !important;
  }
}

@media (min-width: 1080px) {
  .responsive-desktop {
    display: block !important;

  }

  .responsive-mobile {
    display: none !important;

  }
}
