
/* Question Table */
table {
    width: 100%;
}

table th, table td{
  padding-left: 10px;
}
.mat-column-select {
    overflow: initial;
}

.truncate {
    /*width: 200px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
}

.dashboard {
    width: 100%;
}

