<div class="px-2 py-3 m-5 shadow rounded-3">
    <div class="px-5">
      <img class="img-fluid rounded border px-3 mx-3 question-img"
           src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
           alt="question_img">
      <mat-divider class="my-3"></mat-divider>
      <h1 class="text-center">Tại sao dân Israel đúc một con bê vàng để thờ?</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4 m-1 p-1 rounded border option">A. Vì ông Aaron nổi loạn</div>
      <div class="col-4 m-1 p-1 rounded border option">B. Vì ông Moses quá chậm trễ</div>
      <div class="col-4 m-1 p-1 rounded border option">C. Vì chán nản</div>
      <div class="col-4 m-1 p-1 rounded border option">D. Tất cả đều sai</div>
    </div>
</div>
