<div class="px-2 py-5 m-5 shadow rounded-3"
     style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
     unselectable="on"
     onselectstart="return false;"
     onmousedown="return false;">
  <mat-stepper [linear]="false" #stepper>
    <mat-step label="Câu hỏi 1">
      <div class="p-5">
        <img class="img-fluid rounded border p-3 m-3 question-img"
             src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
             alt="question_img">
        <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
          dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A</div>
        <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B</div>
        <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C</div>
        <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D</div>
      </div>
      <button mat-raised-button matStepperNext>Next</button>

    </mat-step>
    <mat-step label="Câu hỏi 2">
      <div>
        <div class="p-5">
          <img class="img-fluid rounded border p-3 m-3 question-img"
               src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
               alt="question_img">
          <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
            dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A
            <img class="img-fluid rounded p-3 m-3 option-img"
                 src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
                 alt="question_img">
          </div>
          <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B<img class="img-fluid rounded p-3 m-3 option-img"
                                                                           src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
                                                                           alt="question_img"></div>
          <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C<img class="img-fluid rounded p-3 m-3 option-img"
                                                                           src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
                                                                           alt="question_img"></div>
          <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D<img class="img-fluid rounded p-3 m-3 option-img"
                                                                           src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
                                                                           alt="question_img"></div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Câu hỏi 2">
      <div>
        <div class="p-5">
          <img class="img-fluid rounded border p-3 m-3 question-img"
               src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
               alt="question_img">
          <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
            dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A</div>
          <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B</div>
          <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C</div>
          <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D</div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Câu hỏi 2">
      <div>
        <div class="p-5">
          <img class="img-fluid rounded border p-3 m-3 question-img"
               src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
               alt="question_img">
          <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
            dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A</div>
          <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B</div>
          <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C</div>
          <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D</div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Câu hỏi 2">
      <div>
        <div class="p-5">
          <img class="img-fluid rounded border p-3 m-3 question-img"
               src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
               alt="question_img">
          <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
            dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A</div>
          <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B</div>
          <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C</div>
          <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D</div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Câu hỏi 2">
      <div>
        <div class="p-5">
          <img class="img-fluid rounded border p-3 m-3 question-img"
               src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
               alt="question_img">
          <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
            dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A</div>
          <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B</div>
          <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C</div>
          <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D</div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Câu hỏi 2">
      <div>
        <div class="p-5">
          <img class="img-fluid rounded border p-3 m-3 question-img"
               src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
               alt="question_img">
          <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
            dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A</div>
          <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B</div>
          <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C</div>
          <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D</div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step label="Câu hỏi 3">
      <div>
        <div class="p-5">
          <img class="img-fluid rounded border p-3 m-3 question-img"
               src="https://um-insight.net/downloads/313/download/Holy-Bible.jpg?cb=d7c66cda21ffa0b59262145100eec59f"
               alt="question_img">
          <p class="text-center">The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy
            dog. The quick brown fox jumps over the lazy dog.The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-4 m-1 p-1 rounded border option">A. Đáp án A</div>
          <div class="col-4 m-1 p-1 rounded border option">B. Đáp án B</div>
          <div class="col-4 m-1 p-1 rounded border option">C. Đáp án C</div>
          <div class="col-4 m-1 p-1 rounded border option">D. Đáp án D</div>
        </div>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>

  </mat-stepper>
</div>
